<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <module href="/components/head.html"></module>
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="one column">
        <span class="material-icons">code</span>
      </div>
      <div class="three columns">Chris Baughman</div>
      <nav>
        <ul class="top-nav">
          <li><span class="material-icons">point_scan</span>Skills</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="text-3xl font-bold underline">Chris Baughman</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores suscipit magnam facere nobis commodi culpa,
          eum cumque magni ipsa delectus dolore velit, beatae expedita similique possimus nihil aut, quisquam et.</p>
      </div>
    </div>
  </div>
  <script type="module" src="/bundle.js"></script>
</body>
</html>
